*{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}

label{
    margin-top: 15px;
}

#escolha{
    padding: 30px;
}